*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    min-height:100vh;

    background:
    radial-gradient(circle at top,#5b1b16,#120404);

    font-family:
    "Microsoft YaHei",
    sans-serif;

    color:#ffd86b;

    text-align:center;

}


/* 标题 */

h1{

    margin-top:40px;

    font-size:48px;

    color:#ffd84d;

    text-shadow:
    0 0 10px #ffcc33,
    0 0 30px #ff9900;

}


/* 幸运值 */

.luck{

    margin:25px;

    font-size:22px;

}



/* 外框 */

.ticket{


    width:850px;

    margin:40px auto;

    padding:40px;

    background:

    linear-gradient(
    145deg,
    #711c15,
    #3a0905
    );


    border:

    5px solid #ffd45c;


    border-radius:40px;


    box-shadow:

    0 0 40px #ffb300;


}



/* 小标题 */

.ticket h1{

    font-size:36px;

}



/* 刮奖区域 */

.card{


    width:420px;

    height:240px;


    margin:30px auto;


    position:relative;


    border-radius:25px;


    overflow:hidden;


    border:

    5px solid #ffd86b;


    box-shadow:

    0 0 30px rgba(255,200,0,.8);


}



/* 奖励内容 */

.reward{


    width:100%;

    height:100%;


    display:flex;

    flex-direction:column;


    justify-content:center;


    align-items:center;


    background:

    linear-gradient(
    135deg,
    #fff2a8,
    #ffbd3d
    );


    color:#8b1600;


}



/* 奖项文字 */

.reward h2{

    font-size:36px;

    margin-bottom:20px;


}


.reward p{

    font-size:22px;

}


.reward h3{

    margin-top:15px;

    font-size:25px;

}



/* canvas */

canvas{

    position:absolute;

    left:0;

    top:0;


    cursor:pointer;


}



/* 提示 */

.tip{

    margin-top:30px;


    font-size:20px;

}



/* =====中奖动画===== */


/* 卡牌出现 */

.win-animation{


    animation:

    cardShow 1s ease,

    glow 1.5s infinite alternate;


}



@keyframes cardShow{


    0%{

        transform:

        scale(.3)

        rotateY(180deg);


        opacity:0;

    }


    100%{

        transform:

        scale(1)

        rotateY(0);


        opacity:1;

    }

}




@keyframes glow{


    from{

        box-shadow:

        0 0 20px gold;


    }


    to{

        box-shadow:

        0 0 60px orange;


    }


}



/* 烟花效果 */


.firework{


    position:absolute;


    width:10px;

    height:10px;


    background:#ffd700;


    border-radius:50%;


    animation:

    explode 1s forwards;


}



@keyframes explode{


    0%{

        transform:scale(1);

        opacity:1;

    }


    100%{

        transform:

        scale(15)

        translate(
        var(--x),
        var(--y)
        );


        opacity:0;

    }


}



/* 手机适配 */

@media(max-width:700px){


.ticket{

    width:95%;

    padding:20px;

}



.card{

    width:100%;

}


canvas{

    width:100%;

}


h1{

    font-size:32px;

}


}
